
.main-public{
  min-height: calc(100vh - 116px);
}
.footer-public{
  height: 60px;
  background-color: rgb(133, 174, 174);
}
.main-user{
  min-height: calc(100vh - 116px);
}
.footer-user{
  height: 60px;
  background-color: rgb(64, 85, 85);
  color: white;
}

.error-msg{
  color:red;
}