.nav-avatar-letra{
  border-radius: 50px;
  height: 50px;
  width:50px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.avatar-img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}