.cont-img{
  position: relative;
  width: 150px;
  height: 150px;
  .img-ppal{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .delete-icon{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    width: 24px;
  }
}

